<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" th:action="@{/otp/login}">

    <input name="email" th:value="${email}" type="hidden">
    <table>
        <tr>
            <td><label for="password">Password :</label></td>
            <td><input id="password" name="otp" type="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>

</body>
</html>